.footer-1 {
  .footer-widgets {
    position: relative;
    z-index: 1;

    @media (min-width: 991px) {
      padding: 85px 0px 115px !important;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 40%;
      background-color: $theme-color;
      content: "";

      @media (max-width: 991px) {
        display: none;
      }
    }

    @media (max-width: 991px) {
      .single-footer-wid {
        .wid-title {
          h4 {
            color: $theme-color !important;
          }
        }
        &.site-info-widget {
          color: $theme-color;
        }
      }
    }
  }

  .site-info-widget {
    color: #adb7bc;

    .wid-title {
      h4 {
        color: #fff;
      }
    }
  }
}

.footer-wrap {
  .footer-bottom {
    background-color: #f0f0f0;
    padding: 24px 0px;

    p {
      font-size: 16px;
      font-weight: 500;
    }

    a {
      color: #f77967;
      font-weight: 500;
    }
  }

  .single-footer-wid {
    margin-top: 30px;

    .wid-title {
      margin-bottom: 30px;
    }

    &.site-info-widget {
      .single-contact-info {
        overflow: auto;
        margin-bottom: 20px;

        span {
          display: block;
        }

        .icon {
          width: 40px;
          height: 40px;
          line-height: 40px;
          color: #fff;
          background-color: rgb(239, 201, 76);
          float: left;
          text-align: center;
          overflow: hidden;
          font-size: 16px;
          margin-right: 20px;
        }

        &:nth-child(2n) {
          .icon {
            background-color: #00baa3;
          }
        }
        &:nth-child(3n) {
          .icon {
            background-color: #f86048;
          }
        }
      }
    }

    .social-link {
      margin-top: 40px;

      @media (max-width: 767px) {
        margin-top: 30px;
      }

      a {
        background-color: rgb(41, 46, 48);
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
        text-align: center;
        display: inline-block;
        color: #adb7bc;
        margin-right: 5px;

        &:hover {
          color: #fff;
          background-color: #efc94c;
        }
      }
    }

    .special-menu {
      float: left;
      width: 50%;
      overflow: hidden;
    }

    ul {
      li {
        > a {
          color: #727475;
          margin-bottom: 15px;
          display: block;
          transition: all 0.3s;
          font-weight: 500;
          text-transform: capitalize;

          @media (max-width: 1191px) {
            margin-bottom: 20px;
          }

          @media (max-width: 767px) {
            margin-bottom: 15px;
          }

          &:hover {
            color: #f86048;
            padding-left: 10px;
          }
        }
        &:last-child {
          a {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.footer-top-bar {
  position: relative;
  z-index: 1;

  @media (min-width: 501px) and (max-width: 991px) {
    .contact-us {
      margin: 30px 0px;
    }
  }

  &::before {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #f8f8f8;
    content: "";
    z-index: -1;
    bottom: 0;
    left: 0;
  }

  .container {
    background: $theme-color;
    padding: 30px 40px;
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      width: 96%;
      height: 20px;
      background-color: #00baa3;
      content: "";
      z-index: -1;
      bottom: -20px;
      left: 0;
      transform: translateX(2%);
    }

    @media (max-width: 1191px) {
      padding: 30px;
    }

    @media (max-width: 991px) {
      padding: 30px 15px;
    }
  }

  .contact-us {
    overflow: hidden;

    .single-info {
      float: left;
      width: 50%;
      text-align: left;

      @media (max-width: 500px) {
        width: 100%;
        display: block;
        float: inherit;
        margin: 0 auto;
        margin-top: 30px;
      }
      .icon {
        float: left;
        overflow: hidden;
        border-radius: 50%;
        background-color: rgb(0, 186, 163);
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
        text-align: center;
      }

      p {
        color: #adb7bc !important;
        margin-bottom: 0;
      }

      &:nth-child(2n) {
        .icon {
          background-color: #d55342;
        }
      }
    }
  }

  .social-link {
    a {
      border-style: solid;
      border-width: 2px;
      border-color: #373a3c;
      border-radius: 50%;
      width: 54px;
      height: 54px;
      line-height: 54px;
      display: inline-block;
      text-align: center;
      margin-left: 5px;
      color: #fff;
      transition: all 0.3s ease-in-out;

      @media (max-width: 1199px) {
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 14px;
      }

      &:hover {
        background-color: #efc94c;
        border-color: #efc94c;
      }

      @media (max-width: 500px) {
        margin-top: 30px;
      }
    }
  }
}

.recent-post-wid {
  .recent-post-list {
    .single-recent-post {
      overflow: hidden;
      padding-bottom: 15px;
      border-bottom: 2px solid rgb(234, 234, 234);
      box-sizing: border-box;
      margin-bottom: 20px;

      &:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .thumb {
        background-color: #eee;
        width: 80px;
        height: 70px;
        overflow: hidden;
        float: left;
        margin-right: 25px;
      }

      .post-data {
        overflow: auto;
        margin-top: -5px;
        span {
          font-size: 12px;
          line-height: 1;
          font-weight: 500;
          i {
            color: #00baa3;
            margin-right: 5px;
          }
        }

        h5 {
          font-size: 18px;
          line-height: 20px;
          &:hover {
            color: #d55342;
          }

          @media (max-width: 991px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.payoment-methods-icons {
  i {
    font-size: 60px;
    display: inline-block;
    margin-left: 30px;
    color: #9c9c9c;

    &:first-child {
      margin-left: 0;
    }
  }
}

.footer-2 {
  .footer-bottom {
    padding: 10px 0px;
  }
}

.footer-3 {
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 991px) {
    background-position: bottom;
  }

  .social-link {
    margin-top: 35px;

    a {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      line-height: 70px;
      display: inline-block;
      text-align: center;
      background-color: rgb(252, 109, 87);
      color: #fff;
      transition: all 0.3s ease-in-out;
      margin: 0px 3px;
      font-size: 18px;

      &:hover {
        color: rgb(252, 109, 87);
        background-color: #fff;
      }

      @media (max-width: 767px) {
        margin: 0px 5px;
        margin-top: 15px;
      }
    }
  }

  .footer-bottom {
    padding-top: 120px;
    p {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .footer-sponsers {
    .single-brand {
      margin-bottom: 60px;
    }
  }

  hr {
    border-color: #f9806d;
  }
}
