/*
Template: Fundbux - Charity & Foundries HTML Template
Author: Modina Theme
Author URI: https://themeforest.net/user/modinatheme
Description: Charity & Foundries HTML5 Template
Version: 1.0
*/

// BASIC
@import 'basic';
// MIXIN
@import 'variables';
// TYPOGRAPHY
@import 'typography';
// MIX
@import 'mix';
// HELPER
@import 'helper';
// ICON FONTS
@import 'icon';
// ANIMATION
@import 'animation';
// Button 
@import 'btn';
// Colors 
@import 'colors';

// Preloader 
@import 'preloader';

/* ----------------------------------
    Template Section Styles
 ------------------------------------*/

// Menu - Header Section 
@import 'header';

// Hero Slide - Section 
@import 'hero';

// Section Title - Heading 
@import 'section';

// About - Section 
@import 'about';

// Features - Section 
@import 'features';

// Features - Section 
@import 'services';

// Features - Section 
@import 'testimonial';

// Portfolio - Section 
@import 'cause';

// Call To Action - Section 
@import 'price';

// Call To Action - Section 
@import 'cta';

// Call To Action - Section 
@import 'contentblock';

// Event - Section 
@import 'event';

// team - Section 
@import 'team';

// funfact - Section 
@import 'funfact';

// Download - Section 
@import 'carousel';

// FAQ - Section 
@import 'faq';

// Blog - Section 
@import 'blog';

// Contact Us - Section 
@import 'contact';

// footer - Section 
@import 'footer';